html,body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background:#ffffff
}

.container, .container-fluid{
    padding-right: 0;
    padding-left: 0;
}

.custom-container-xs{
    width: 100%;
    max-width: 450px;
}

.w-50{width:50px !important}
.text-primary {
    color: #5156be !important;
}

@import './validation.scss';
